*{
    box-sizing: border-box;
    padding: 0;
}

.container{
    width: 70%;
    min-width: 350px;
    max-width: 500px;
    height: 100%;
    background-color: rgb(22, 25, 160);
    border-radius: 5px;
    display: block;
    margin: auto;
    padding: .2rem
}

.main-ctn{
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    border-radius: 3px;
    padding-bottom: 3rem;
}

.sub-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
}

#home-sbd, #guest-sbd{
    text-align: center;
    color: #fff
}

h1{
    margin-bottom: -3rem;
    font-weight: 700;
    font-size: 2.4rem;
}

@font-face {
    font-family: myClockFont;
    src: url(digital-7.ttf);
}

#score-box{
    width: 130px;
    height: 65px;
    background-color: rgb(32, 30, 30);
    color: gold;
    font-weight: 500;
    font-size: 3.5rem;
    font-family: myClockFont;
}

.sub-container button{
    padding: .5rem;
    color: #fff;
    background-color: rgb(22, 25, 160);
    border: 2px solid #fff;
    border-radius: 3px;
    margin: .5rem .2rem;
    cursor: pointer;
}

.sub-container button:active{
    border: 2px solid gray;
    
}

.sub-container button:hover{
    transition: .2s ease in;
    background-color: #fff;
    color: rgb(22, 25, 160);
}

#reset-btn{
    background-color: rgb(226, 195, 17);
    color: white;
    padding: .7rem 2.5rem;
    border: 2px solid rgb(226, 195, 17);
    border-radius: 2px;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0 auto;
    font-weight: 700;
    font-size: 1.3rem;
}

#reset-btn:hover{
    transition: .2s ease in;
    background-color: #fff;
    color: rgb(240, 206, 13);
}

#reset-btn:active {
    border: 2px solid gray;
}

#save-h, #save-g{
    text-align: center;
    color: #fff;
}

